In [36]:
import cupy as cp
import numpy as np
# import torch
import pandas as pd

In [9]:
popular_data = pd.read_csv("popular_movies_by_id.csv")
popular_data

       movieId  no_of_votes  avg_rating  weighted_avg
0          318        91082    4.429015   3866.323080
1          356        91921    4.052926   3583.770527
2          296        87901    4.169975   3522.107094
3          593        84078    4.152246   3355.331488
4         2571        77960    4.154098   3112.756142
...        ...          ...         ...           ...
45110   141275            1    5.000000      3.407705
45111   164907            1    5.000000      3.407705
45112   174409            1    5.000000      3.407705
45113   137771            1    5.000000      3.407705
45114   171221            1    5.000000      3.407705

[45115 rows x 4 columns]

In [11]:
ratings = pd.read_csv("data/ratings_small.csv")

In [13]:
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [15]:
pt = ratings.pivot_table(values="rating",index="userId",columns="movieId",fill_value=0)
pt

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
ratingssss = pd.read_csv("data/ratings.csv",low_memory=True)

In [20]:
ratingssss

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [21]:
a = ratingssss["userId"].value_counts()

In [22]:
len(a.values)

270896

In [43]:
user_ids_to_filter = a[a>500].index
user_ids_to_filter

Index([ 45811,   8659, 270123, 179792, 228291, 243443,  98415, 229879,  98787,
       172224,
       ...
       197937, 152582,  87970, 228445, 150077, 111362,  90922, 255583, 241749,
        26019],
      dtype='int64', name='userId', length=9452)

In [45]:
filtered_ratings_data  =ratingssss[ratingssss['userId'].isin(user_ids_to_filter)]
filtered_ratings_data

          userId  movieId  rating   timestamp
1710          24        1     4.0   979869938
1711          24        2     3.0   979974023
1712          24        6     4.0   979870499
1713          24       16     3.0   979870379
1714          24       17     3.0   979974163
...          ...      ...     ...         ...
26023517  270887   171439     1.0  1500925554
26023518  270887   171755     3.0  1493850948
26023519  270887   173149     5.0  1497402632
26023520  270887   173405     5.0  1496285130
26023521  270887   174473     5.0  1500779430

[8543119 rows x 4 columns]

In [46]:
filtered_ratings_data["userId"].value_counts()

userId
45811     18276
8659       9279
270123     7638
179792     7515
228291     7410
          ...
255583      501
252594      501
197937      501
181206      501
77371       501
Name: count, Length: 9452, dtype: int64

In [47]:
pt = filtered_ratings_data.pivot_table(values="rating",index="userId",columns="movieId",fill_value=0)
pt

movieId,1,2,3,4,5,6,7,8,9,10,...,176237,176239,176245,176251,176257,176259,176263,176267,176273,176275
userId,,,,,,,,,,,,,,,,,,,,,
24,4.0,3.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,4.5,0.0,3.5,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120,2.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
132,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
150,4.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270654,3.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270684,4.0,0.0,4.0,0.0,3.0,4.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270734,5.0,3.0,3.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270769,4.0,3.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270887,5.0,5.0,4.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
simiity = cosine_similarity(pt)

In [55]:
simiity

array([[1.        , 0.30337475, 0.38789347, ..., 0.34786152, 0.46536317,
        0.17498909],
       [0.30337475, 1.        , 0.3007393 , ..., 0.23297621, 0.24537149,
        0.25571855],
       [0.38789347, 0.3007393 , 1.        , ..., 0.34291125, 0.40786269,
        0.17727518],
       ...,
       [0.34786152, 0.23297621, 0.34291125, ..., 1.        , 0.38705754,
        0.16353509],
       [0.46536317, 0.24537149, 0.40786269, ..., 0.38705754, 1.        ,
        0.14342642],
       [0.17498909, 0.25571855, 0.17727518, ..., 0.16353509, 0.14342642,
        1.        ]])

In [61]:
simiraity_score_df = pd.DataFrame(simiity)
simiraity_score_df

,0,1,2,3,4,5,6,7,8,9,...,9442,9443,9444,9445,9446,9447,9448,9449,9450,9451
0,1.000000,0.303375,0.387893,0.465607,0.467059,0.371757,0.280652,0.310332,0.268996,0.197366,...,0.424657,0.295061,0.379651,0.256451,0.152454,0.292288,0.444702,0.347862,0.465363,0.174989
1,0.303375,1.000000,0.300739,0.302647,0.323457,0.276435,0.336402,0.394324,0.329194,0.274437,...,0.343309,0.293843,0.399885,0.200290,0.280374,0.199854,0.408793,0.232976,0.245371,0.255719
2,0.387893,0.300739,1.000000,0.428290,0.371008,0.370525,0.338186,0.310608,0.320079,0.373059,...,0.487814,0.354643,0.398110,0.339258,0.265313,0.328777,0.318633,0.342911,0.407863,0.177275
3,0.465607,0.302647,0.428290,1.000000,0.393779,0.410667,0.273521,0.328893,0.277101,0.264450,...,0.448727,0.304386,0.378200,0.302055,0.170601,0.323307,0.347403,0.347773,0.423316,0.156580
4,0.467059,0.323457,0.371008,0.393779,1.000000,0.360487,0.251523,0.333233,0.266147,0.197559,...,0.391590,0.256773,0.355247,0.279500,0.136883,0.294211,0.390681,0.333439,0.423196,0.169814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9447,0.292288,0.199854,0.328777,0.323307,0.294211,0.393562,0.274117,0.233019,0.271341,0.289505,...,0.387641,0.322201,0.246056,0.338130,0.189027,1.000000,0.219397,0.276599,0.383480,0.175035
9448,0.444702,0.408793,0.318633,0.347403,0.390681,0.340460,0.294290,0.402475,0.270537,0.210733,...,0.389340,0.290467,0.424651,0.231773,0.172908,0.219397,1.000000,0.319531,0.329426,0.231650
9449,0.347862,0.232976,0.342911,0.347773,0.333439,0.363782,0.201251,0.257747,0.233922,0.256076,...,0.421064,0.223163,0.289597,0.226633,0.126655,0.276599,0.319531,1.000000,0.387058,0.163535
9450,0.465363,0.245371,0.407863,0.423316,0.423196,0.430351,0.218433,0.294451,0.262459,0.221420,...,0.443485,0.254028,0.328361,0.258580,0.134900,0.383480,0.329426,0.387058,1.000000,0.143426
9451,0.174989,0.255719,0.177275,0.156580,0.169814,0.145683,0.363367,0.247706,0.268889,0.216790,...,0.209381,0.254178,0.259912,0.156187,0.259384,0.175035,0.231650,0.163535,0.143426,1.000000

In [75]:
# treshold value of the similarity between users. If treshold > 0.5, similar users
# returns the index of the similar user
def similar_users(userid,simiraity_treshold = 0.5):
    index = userid - 1
    frame = simiraity_score_df[index]
    a = frame[frame >= simiraity_treshold]
    similar_users = a.index.values + 1 #Because index starts from 0 and our userid starts from 1
    return similar_users

# returns the movies list seen by the user
def user_seen_movies(userid):
    movie_list_index =  ratings[ratings["userId"] == userid]["movieId"].values
    return set(movie_list_index)

def seen_movies_by_similar_users(userid):
    similar_user_list = similar_users(userid=userid)
    movie_list_index = []
    for i in similar_user_list:
        movie_list_index.extend(ratings[ratings["userId"] == i]["movieId"].values)
    return set(movie_list_index)


def recommendations_based_upon_user(user_id):
    user_set = user_seen_movies(userid = user_id)
    all_set = seen_movies_by_similar_users(userid=user_id)
    set_difference = all_set.difference(user_set)
    rec_mov = []
    for i in popular_data["movieId"]:
        if (i in set_difference):
            rec_mov.append(i)
    return rec_mov
b = recommendations_based_upon_user(2)

In [77]:
b

[318,
 1,
 608,
 32,
 780,
 1704,
 648,
 733,
 736,
 1961,
 3147,
 1073,
 2324,
 1307,
 36,
 141,
 25,
 1356,
 95,
 104,
 788,
 786,
 708,
 832,
 745,
 653,
 30707,
 58,
 81845,
 7,
 805,
 802,
 3,
 494,
 1674,
 628,
 5,
 64614,
 784,
 112,
 1059,
 376,
 785,
 1235,
 1271,
 852,
 1061,
 673,
 4361,
 8949,
 3363,
 1188,
 724,
 524,
 1367,
 3107,
 1347,
 47099,
 1957,
 762,
 849,
 719,
 671,
 2686,
 215,
 107,
 1185,
 2739,
 3504,
 3969,
 799,
 1831,
 14,
 135,
 72011,
 743,
 1835,
 1958,
 79,
 637,
 8638,
 88810,
 1124,
 88,
 2840,
 748,
 86,
 880,
 707,
 281,
 100,
 65,
 2719,
 9,
 64716,
 839,
 56587,
 12,
 53123,
 663,
 761,
 81,
 76,
 26,
 82,
 737,
 3512,
 613,
 640,
 694,
 609,
 63,
 61,
 631,
 3565,
 2236,
 92,
 89804,
 711,
 43396,
 891,
 704,
 73023,
 50685,
 59018,
 810,
 66371,
 4564,
 85881,
 667,
 82527,
 47148]